.App {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  background-color: whitesmoke;
  padding: 10px;
}

.chart-container {
  display: flex;
  justify-content: center;
  margin: 80px;
  height: 50%;
  border-style: solid;
  border-width: 2px;
  background-color: rgb(214, 236, 218);
}

.search-tides {
  background-color: rgb(16, 176, 224);
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 5px;
}

/*styling for the new grid homepage*/
.tide-title {
  grid-area: header;
  font-family: Helvetica;
  color: whitesmoke;
  letter-spacing: 40px;
  font-size: 100px;
  font-weight: lighter;
  padding-bottom: 20px;
}

.main-content { /*i want this to be the flexbox or contain a flexbox*/
  grid-area: main;
}

.bottom-wave {
  grid-area: bottom;
} 

.grid-container {
  display: grid;
  background-color:rgb(16, 176, 224);
  height: 100vh;
  width: 100vw;
  overflow: hidden; /*to clip the extra wave animation*/
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header header"
    ". main main main ."
    "bottom bottom bottom bottom bottom"
    "bottom bottom bottom bottom bottom";
}

.loader-container {
  display: flex;
  align-items: 'center';
  justify-content: 'center';
  height: 100vh;
  width: 100vw;
  background: turquoise;
}