.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chooser {
  display: flex;
  padding: 20px;
  margin-bottom: 100px;
  background-color: dimgrey;
  margin-left: 80px;
  margin-right: 80px;
}

.column1 {
  width: 33%;
}

.column2 {
  width: 33%;
}

.column3 {
  width: 33%;
}

.chart-container {
  display: flex;
  justify-content: center;
  margin: 80px;
  height: 400px;
  border-style: solid;
  border-width: 2px;
  background-color: rgb(214, 236, 218);
}

/*styling for the new grid homepage*/
.tide-title {
  text-align: center;
  grid-area: header;
  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
  grid-area: main;
}

.bottom-wave {
  grid-area: footer;
}

.container {
  background-color:rgb(46, 170, 68);
  min-height: 100vh;
  margin: auto;
  border-style: solid;
  border-width: 2px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}